.tabs li{border-top-left-radius: 0px;border-top-right-radius: 0px;}
a.l-btn{border-radius:0px;}
.datagrid table tr td{height:25px;}
.btnbar{border-top:1px solid #AED0EA;text-align: right; padding:5px; height: 28px;}
.bdcenter{padding:10px;}


